@model IEnumerable<Hotel>

@{
    ViewBag.Message = $"Your vote counts.. These are the Hotels of the month October";
}

<div class="container">
    <main role="main" class="pb-3">
        <h1> @ViewBag.Message </h1>

        @foreach (var hotel in Model)
        {
            <partial name="_SingleHotel" model="hotel" />
        }
    </main>
</div>


