<h2 class="my-5">
    Contact us
</h2>

<div>
    <h1>We are eager to hear your feedback</h1>
    <h4>Please go ahead to send us an email below</h4>
    <email inner-message="Mail us" email-address="hotelpremium@@yahoo.com"></email>
</div>