@model IEnumerable<HotelVM>

<div class="container">
    <main role="main" class="pb-3">

        @foreach (var hotelVM in Model)
        {
                <partial name="_SingleHotel" model="hotelVM" />
        }
    </main>
</div>


